apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ "{{" }} .Release.Name {{ "}}" }}-{{ app_name }}
  labels:
    app: {{ "{{" }} .Release.Name {{ "}}" }}
spec:
  replicas: {{ "{{" }} .Values.replicaCount {{ "}}" }}
  strategy:
    type: {{ "{{" }} .Values.strategy {{ "}}" }}
  selector:
    matchLabels:
      app: {{ "{{" }} .Release.Name {{ "}}" }}
  template:
    metadata:
      labels:
        app: {{ "{{" }} .Release.Name {{ "}}" }}
    spec:
      containers:
      - name: {{ app_name }}
        image: "{{ "{{" }} .Values.image.repository {{ "}}" }}:{{ "{{" }} .Values.image.tag {{ "}}" }}"
        ports:
        - containerPort: {{ "{{" }} .Values.service.targetPort {{ "}}" }}
        resources:
          {{"{{-"}} toYaml .Values.resources | nindent 10 {{ "}}"}}

